body {
    font-family: Helvetica, Arial, Sans-serif;
}

h1,
h2,
h3 {
    margin: 0.5rem 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.block {
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.row.center {
    align-items: center;
}

img.small {
    max-height: 8rem;
}

button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

button:hover,
button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
    background: pink;
}

button:active {
    opacity: .5;
}

button.add {
    background-color: skyblue;
}

button.remove {
    background-color: dark yellowgreen;
}

button.badge {
    background-color: grey;
}

.text-right {
    text-align: right;
}